table  {
    border-collapse: collapse;
    width: 40%;
}

.nav_title  {
    width: 10%;
    text-align: center;
    font-size: 1.25rem;
    font-weight: 300px;  
    float: left;
    margin: 12px 0px;

}
.nav_button  {
    border: 2px solid black;
    width: 20%;
    text-align: center;
    font-size: 1rem;
    cursor: pointer;
    float: left;
    display: block;
    margin: 0px;
    padding: 14px 4px;
    text-decoration: none;
    color: rgba(0, 0, 0, 1);
}


.nav_dropdown  {
    border: 2px solid black;
    width: 22%;
    text-align: center;
    font-size: 1rem;
    color: rgba(0, 0, 0, 1);
    cursor: pointer;
}

.dropdown_content  { 
    display: float;
    z-index: -1;
}