body  {
    background-image: url("/ChrisKyle-IOD/mini-project-1/resources/oyo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    margin: 0px;
}

h1  {
    margin: 50px auto 30px auto;
    text-align: center;
    font-size: 2rem;
    font-weight: 100;
    text-shadow: 1px 1px #ffffff;
}
.nav_bar  {
    display: flex;
    height: 50px;
    background-color: rgba(255, 255, 255, 0.5);
}
.nav_flex_container  {
    display: flex;
    width: 40%; 
    border: 1px solid black;
}
.nav_title  {
    width: 10%;
    padding: auto;
    text-align: center;  
}

 ul  {
    list-style-type: none;
    margin: 0;
    padding: 0;
    border: 1px solid black;
    width: 90%;

}
li  {
    float: left;
    border: 2px solid black;
    width: calc(25% - 4px);
    height: calc(100% - 4px);
    text-align: center; 
}

li a {
    display: block;
    height: 100%;

    text-decoration: none;
    color:rgba(0, 0, 0, 1)
}
.nav_space  {
    width: 45%;
    border: 1px solid black;
}

.nav_search  {
    width: 15%;
    border: 1px solid black;
}

/*
.nav_title  {
    padding:12.5px 12.5px 20px 15px;
    font-size: 1.25rem;

}
.nav_button  {
    width: 155px;
    height: 48px;
    border: 2px solid black;
    text-align: center;
    padding: auto;
}
.nav_search  {
    float: right;
    
} */
.center_page  {
    border: 1px solid black;
    margin: 85px 220px;
    background-color: rgba(0, 0, 0, 0.5)
}